.about-title {
	font-family: 'Georgia';
}

.about-description {
	font-family: 'Open Sans', sans-serif;
}

.about-link {
	color: #212529;
	border-bottom: 1px solid #0056b3;
}

.about-link:hover {
	color: #0056b3;
	text-decoration: none;
}

.resume-btn {
	color: black;
	background-color: transparent;
	border-color: #0056b3;
}

.resume-btn:hover {
	background-color: #0056b3;
	color: white;
}