ul {
	list-style-type: none;
}

.background-header {
	font-size: 25px;
	font-family: 'Georgia';
}

.background-title, .background-description {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

