.header-title {
	font-family: 'Georgia';
}

@media screen and (min-width: 0px){
	h2 { font-size: 1.5rem; }
}

@media screen and (min-width: 768px){
	h2 { font-size: 2rem; }
}

.hero {
	height: 300px;
}