.header-title {
	font-family: 'Georgia';
}

@media screen and (min-width: 0px){
	h2 { font-size: 1.5rem; }
}

@media screen and (min-width: 768px){
	h2 { font-size: 2rem; }
}

@media screen and (min-width: 0px){
	h3 { font-size: 1.3rem; }
}

@media screen and (min-width: 768px){
	h3 { font-size: 1.5rem; }
}

.icon {
	width: 36px;
	height: 36px;
	background-color: #2c2c2c;
	border-radius: 50%;
	vertical-align: middle;
	padding: 10px;
	color: white;


}

.icon:hover {
	background-color: #9bc4d7; 
	color: #2c2c2c;
}
