.work-header {
	font-family: Lato, sans-serif;
	color: #5d5d5d;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 1.5px;
}

.card {
	box-shadow: 2px 2px 18px 0 #e2e2e2;
	border: none;
}

.project-btn {
	border: 2px solid #595959;
    border-radius: 3px;
    color: rgba(80,75,75,.986);
    background-color: white;
	width: 100px;
	text-transform: uppercase;
}

.project-btn:hover {
	border-color: #0056b3;
	background-color: #0056b3;
	color: white;
}


.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.project-image {
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 225px;
}

@media screen and (min-width: 992px){
	.project-image { height: 275px; }
}
.card {
	background-color: #F7F7F7;
}

.card {
	position: relative;
}

.project-title {
	font-family: 'Georgia';
}

.project-description {
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
}

.project-title, .project-description {
	color: #ffffff;
}

.title-col {
	width: 0;
}

.card:hover .project-image {
  opacity: 0.3;
}

.card:hover .overlay {
  opacity: 1;
  transition: .5s ease;
  text-align: center;
}

.overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}
