.work-border {
	box-shadow: 2px 2px 18px 0 #e2e2e2;
}

.work-header {
	font-family: Lato, sans-serif;
	color: #5d5d5d;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 1.5px;
}

@media screen and (min-width: 0px){
	.work-img {	height: 225px; }
	.work-title { font-size: 1.125rem; }
}

@media screen and (min-width: 768px){
	.work-img { height: 300px; }
	.work-title { font-size: 1.250rem; }
}

.position-header {
	font-family: Lato, sans-serif;
	color: #a8a8a8;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 1px;

}

.work-title {
	font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    font-weight: 600;
}



.work-paragraph {
	font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    font-weight: 300;
}