.work-border {
	box-shadow: 2px 2px 18px 0 #e2e2e2;
}

.work-header {
	font-family: Lato, sans-serif;
	color: #5d5d5d;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 1.5px;
}

@media screen and (min-width: 0px){
	.work-img {	height: 225px; }
	.work-title { font-size: 1.125rem; }
}

@media screen and (min-width: 768px){
	.work-img { height: 250px; }
	.work-title { font-size: 1.250rem; }
}

@media screen and (min-width: 2000px){
	.work-img { height: 300px; }
}

/* .img-col {
	background-color: #f1f0ee;
} */

.semihandmade-col {
	background-color: #D2B48C;
}

.laloop-col {
	background-color: #E6E6FA;
}

.ymy-col {
	background-color: #19593D;
}

.singnasium-col {
	background-color: #AB1E2C;
}

.position-header {
	font-family: Lato, sans-serif;
	color: #a8a8a8;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 1px;

}

