.skills-border-right {
	border: none;
}

.skills-border-bottom {
	border: none;
}

.icon-img {
	height: 60px;
}

.skills-title {
	font-size: 1.5rem;
}  

@media screen and (min-width: 1200px){
	.skills-border-right {
		border-right: 1px solid #c9d7e0;
	}

	.skills-border-bottom {
		border-bottom: 1px solid #c9d7e0;
	}
}

.skills-title {
	font-family: 'Georgia';
	font-size: 1.125rem;
}

.skills-section {
	  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://images.pexels.com/photos/593319/pexels-photo-593319.jpeg?cs=srgb&dl=holz-kamera-iphone-593319.jpg&fm=jpg) 50% 50% no-repeat;
	  background-size: cover;
}

.skills-section {
	.skills-title, .skills-header {
		color: #fff;
	}
}